# keep in alphabetical order
dm_control
omegaconf==2.3.0
Pillow
pin==3.7.0
pygame
pyspacemouse
PyQt6
pyquaternion
pyrealsense2
pyzmq
pure-python-adb
quaternion
setuptools
tyro
ur-rtde
zmq
xarm
xarm-python-sdk
numpy-quaternion
termcolor
flask_cors==5.0.0
opencv-python>=4.8.0
aiortc>=1.6.0
aiohttp>=3.9.0
aiohttp-cors>=0.7.0
av>=10.0.0
numpy>=1.24.0

Flask>=3.0.0
Flask-Cors>=4.0.0